.Banner {
    display: flex;
    justify-content: center;
    margin: 43px 0;
    position: relative;
}

.Banner_div {
    justify-content: center;
    align-items: center;
    height: 223px;
    max-width: 1240px;
    border-radius: 25px;
    position:relative;
} 

.Banner_div h1 {
    font-size: clamp(24px, 5vw, 48px);
    color: white;
    font-weight: 500;
    position: absolute;
    top: 40%;
    left: 25%;
}

.Banner_div_img {
    height: 223px;
    width: 100%;
    max-width: 1240px;
    border-radius: 25px;
}

@media screen and (max-width: 550px){
    .Banner {
        margin: 20px 0;
    }

    .Banner_div {
        height:0;
        margin: 20px;
    }

    .Banner_div h1 {
        font-size: clamp(18px, 5vw, 48px);
        top: 5%;
        left: 5%;
    }

    .Banner_div_img{
        height: 0;
    }

    .Banner_div_img img{
            width: 100%;
    }
}
