/***Desktop***/
.Header{
    margin: 0 20px;
}

.Header_div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 500; 
    margin: 40px auto;
    max-width: 1240px;
}

.Header_logo {
    width: 210px;
}

.Header_nav {
    display: flex;
}

.Header_nav li {   
    font-size: 24px;
    list-style-type: none;
    padding: 20px 0 0 50px;
    line-height: 17px;
}

.Header_nav li:hover {
    text-decoration-line: underline;
}

.Header_nav a {
    color:#FF6060;
    text-decoration: none;
}

.Header_nav a:hover {
    text-decoration: underline;
}
    
/***Tablette***/

@media screen and (max-width: 900px){
    .Header{
        height: 40px;
    }
}

/***Mobile***/

@media screen and (max-width: 700px){
    .Header_div{
        margin: 0px auto;
    }

    .Header_logo {
        width: 124px;
        padding-top: 10px;
    }

    .Header_nav li {
        padding: 30px 20px 16px 15px;
        font-size: 15px;
    }

}