/***Desktop***/
.Header{
    margin: 0 auto;
    max-width: 1240px;
}

.Header_div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 500;
    margin: 40px 0;
}

.Header_logo {
    width: 210px;
}

.Header_nav {
    display: flex;
}

.Header_nav li {   
    font-size: 24px;
    list-style-type: none;
    padding: 20px 0 0 50px;
    line-height: 17px;
}

.Header_nav li:hover {
    text-decoration-line: underline;
}

.Header_nav a {
    color:#FF6060;
    text-decoration: none;
}

.Header_nav a:hover {
    text-decoration: underline;
}
    
/***Tablette***/

@media screen and (max-width:991px){ 

    .Header_div{
        margin: 20px;
    }
    .Header{
        height: auto;
    }

    .Header_logo{
        width: 140px;
    }

    .Header_nav li {
        font-size: 22px;
        padding: 20px;
    }
}


/***Mobile***/

@media screen and (max-width: 550px){
    .Header_div{
        margin: 0 20px;
    }

    .Header_logo {
        width: 145px;
        height: 47px;
        padding-top: 10px;
    }

    .Header_nav li {
        padding: 37px 0px 16px 15px;
        font-size: 12px;
        text-transform: uppercase;
    }

}