/***Desktop***/

.Logement_main {
    margin: 0 auto;
    max-width: 1240px;
}

.div_logement {
    margin: 0;
}

.logement_content {
    display:flex;
    justify-content: space-between;
    margin: 0 auto;
}


.logement_content_infos{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.logement_content_infos h1 {
    font-size: 36px;
    font-weight: 500;
    color: #FF6060;
    margin: 0;
    display: flex;
    align-items: flex-end;
}

.logement_content_infos p {
    font-size: 18px;
    font-weight: 500;
    color: #FF6060;
    margin-top: 5px;
    margin-bottom: 10px;
}

.logement_tag {
    display: flex;
    flex-wrap: wrap;
}

.logement_tag button {
    display: inline;
    padding: 5px 15px;
    margin: 0 10px 0 0;
    cursor: pointer;
    border-radius: 10px;
    border: none;
    color:#F7F7F7;
    background-color: #FF6060;
}


.logement_tag button:hover{
    box-shadow: 0 2px 8px rgb(0, 0, 0);
}

.logement_content_host {
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-items: flex-end;
    gap: 5px;
}

.logement_content_host_name {
    display:flex;
    align-items: center;
}

.logement_content_host_name p {
    font-size: 18px;
    color: #FF6060;
    font-weight: 500;
    max-width: 120px;
    text-align: right;
    margin: 0 10px 0 0;
}

.logement_content_host_name img {
    border-radius: 90px;
    height: 64px;
    width: 64px;
}

.logement_content_host_stars {
    margin-top:20px;
    white-space: nowrap;
    display: flex;
    gap: 10px;
}

.logement_collapse{
    display: flex;
    justify-content: space-between;
    gap: 70px;
    margin: 30px auto;
}

.collapse_container{
    width: 50%;
}

/***Tablette Grand Format***/
@media screen and (max-width: 991px){

    .div_logement {
        margin: 0px 20px;
    }
}

/***Tablette***/
@media screen and (max-width: 768px){

    .div_logement {
        margin: 0px 20px;
    }
}

/**Mobile**/
@media screen and (max-width: 550px){

    .div_logement {
        margin: 0px 20px;
    }

    .logement_content {
        flex-direction: column;
        margin-top: 30px;
    }

    .logement_content_infos {
        margin: 0;
    }

    .logement_content_infos h1 {
        font-size: 18px;
    }

    .logement_content_infos p {
        margin: 10px 0;
        font-size: 14px;
    }

    .logement_content_host {
        flex-direction: row-reverse;
        justify-content: space-between;
        margin: 0;
    }

    .logement_collapse {
        gap: 30px;
        flex-direction: column;
        margin: 0;
    }

    .collapse_container {
        width: 100%;
    }

    .logement_tag {
        flex-wrap: nowrap;
    }

    .logement_tag button {
        border-radius: 5px;
        font-size: 10px;
        padding: 5px 10px;
    }

    .logement_content_host_stars {
        margin-top: 30px;
        height: 15px;
        width: 15px;
    }

    .logement_content_host_name img {
        height: 32px;
        width: 32px;
    }

    .logement_content_host_name p {
        font-size: 12px;
        max-width: 50px;
    }


}

