/***Desktop***/

/* A Propos */

.main-about {
    background-color : white;
}

.about_collapse {
    display: flex;
    align-items: center;
    gap: 0;
    flex-direction: column;
    margin: 20px 20px 0 20px;
}

.about_collapse .collapse_container{
    width: 85%;
    font-size: 24px;
}

/***Tablette***/
@media screen and (max-width: 991px){
    .collapse_about{
        margin: 20px auto;
    }
}

/***Mobile***/

@media screen and (max-width: 550px){

    .main-about{
        width:100%;
    }

    .about_collapse {
        gap: 0;
        flex-direction: column;
        margin: 0;
    }

}

